body{
    background-color: #F5F5F5;
    font-family: 'Titillium Web', sans-serif;
}

header{
    img{
        width: 150px;
        margin-top: 50px;
        margin-left: 4%;
    }
    ul{
        list-style: none;
    }
    li {
        float: left;
        margin-left: 18%;
        margin-right: -12%;
        margin-top: -50px;
      }
      
      li a {
        display: block;
        color: #333;
        text-align: center;
        padding: 16px;
        text-decoration: none;
      }
      li a:hover{
        text-decoration: underline;
      }
}

.calendar{
    margin-left: 10%;
    .titleText{
        margin-top: 200px;
        text-decoration: underline;
    }
    .countdown{
        font-size: 4rem;
        font-weight: bold;
        margin-top: -15px;
    }
    .schedule{
        margin-top: -90px;
    }
    .country{
        font-size: 3rem;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.4rem;
    }
    .trackMap{
        width: 70px;
        margin-left: 15%;
    }
    .location {
        display: flex;
        align-items: center;
        justify-content: left;
      }
      .locationImage{
        margin-left: 1%;
      }
      .scheduleDate{
        font-weight: lighter;
        margin-top: -45px;
        margin-left: 0.3%;
        font-size: 0.9rem;
      }

    .scheduleTable td{
        border-bottom: 1px solid #333;
        padding-top: 10px;
    }
    .leftColumn{
        padding-right: 120px;
    }   
}

.articles{
h1{
    font-size: 1rem;
    margin-left: 50%;
    margin-top: -450px;
    font-weight: 400;
    text-decoration: underline;
}

.firstArticle{
    margin-top: 20px;
    width: 280px;
    height: 430px;
    margin-left: 50%;
    background-color: #fff;

img{
    width: 280px;
}
h2{
    padding-right: 20px;
    padding-left: 20px;
    font-size: 1rem;
    text-transform: uppercase;
}
p{
    padding-right: 20px;
    padding-left: 20px;
    font-size: 0.9rem;
}
a{
    font-size: 0.9rem;
    text-decoration: underline;
    margin-left: 70%;
}
}
.secondArticle{
    margin-top: -425px;
    width: 280px;
    height: 430px;
    margin-left: 72%;
    background-color: #fff;

img{
    width: 280px;
}
h2{
    padding-right: 20px;
    padding-left: 20px;
    font-size: 1rem;
    text-transform: uppercase;
}
p{
    padding-right: 20px;
    padding-left: 20px;
    font-size: 0.9rem;
}
a{
    font-size: 0.9rem;
    text-decoration: underline;
    margin-left: 70%;
}
}
.viewAll{
    margin-left: 88%;
    font-size: 0.8rem;
    text-decoration: underline;
}

}
